In [1]:
#Importing libraries to connect to transcend and open table in the form of Teradata DataFrame
from teradataml.context.context import *
from teradataml.dataframe.dataframe import DataFrame
import getpass
import pandas as pd
import numpy as np
from teradataml.dataframe.fastload import fastload
from teradatasqlalchemy.types import *
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
import tempfile
import warnings
warnings.filterwarnings('ignore')
from sklearn.impute import SimpleImputer

In [2]:
import os
import pandas as pd
import getpass

from teradataml import create_context, remove_context
from teradataml.context.context import get_connection

password = getpass.getpass("Password")

engine = create_context(host="3.238.151.85", username="AOA_DEMO", password=password)
conn = get_connection()
cursor = engine.raw_connection().cursor()

Password ··········

In [6]:
Telco_df = DataFrame.from_query("select * from Telco_Churn_Train_v sample 99999")
Telco_df = Telco_df.to_pandas()
pd.set_option('display.max_columns', None)
Telco_df.head(10)

,CustomerID,Gender,SeniorCitizen,Partner,Dependents,TenureMonths,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,ChurnValue,CLTV,Age,Under30,Married,NumberOfDependents,ReferredAFriend,NumberOfReferrals,AvgMonthlyLongDistanceCharges,AvgMonthlyGBDownload,DeviceProtectionPlan,PremiumTechSupport,StreamingMusic,UnlimitedData,TotalRefunds,TotalExtraDataCharges,TotalLongDistanceCharges,TotalRevenue,SatisfactionScore,MultipleLines_No,MultipleLines_NoPhoneService,MultipleLines_Yes,InternetService_DSL,InternetService_FiberOptic,InternetService_No,OnlineSecurity_No,OnlineSecurity_NoInternetService,OnlineSecurity_Yes,OnlineBackup_No,OnlineBackup_NoInternetService,OnlineBackup_Yes,DeviceProtection_No,DeviceProtection_NoInternetService,DeviceProtection_Yes,TechSupport_No,TechSupport_NoInternetService,TechSupport_Yes,StreamingTV_No,StreamingTV_NoInternetService,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_NoInternetService,StreamingMovies_Yes,Contract_MonthToMonth,Contract_OneYear,Contract_TwoYear,PaymentMethod_AutoBankTransfer,PaymentMethod_AutoCreditCard,PaymentMethod_ECheck,PaymentMethod_MailedCheck,InternetType_Cable,InternetType_DSL,InternetType_FiberOptic,InternetType_None,Offer_None,Offer_OfferA,Offer_OfferB,Offer_OfferC,Offer_OfferD,Offer_OfferE
0,1015865,0,0,1,0,0,1,0,48.83,1512.62,0,3177,34,0,0,0,0,0,27.05,8,0,0,0,1,0.0,0,965.51,274.91,4,1,0,0,1,0,0,0,0,1,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0
1,1010298,1,1,0,0,16,1,1,106.86,57.19,0,5514,33,0,0,0,0,0,0.02,0,1,0,1,1,0.0,0,787.70,532.29,4,1,0,0,0,1,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0
2,1055303,1,0,0,0,43,1,0,54.13,3027.75,0,2019,34,0,1,0,1,0,42.89,48,0,0,1,1,0.0,0,101.43,3474.90,3,0,0,1,0,1,0,0,0,1,1,0,0,0,0,1,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0
3,1004731,0,0,0,0,65,1,1,97.06,182.72,1,5838,66,0,0,0,0,0,0.03,7,0,0,0,1,0.0,0,1057.18,177.60,1,0,1,0,0,1,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0
4,1094741,1,1,0,0,62,1,1,109.58,2768.18,0,4613,34,0,1,0,0,2,1.31,63,0,0,0,1,0.0,0,65.32,1355.46,4,0,0,1,0,1,0,1,0,0,1,0,0,0,0,1,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0
5,1058321,0,0,0,0,0,1,0,24.67,91.84,0,2446,33,0,1,1,0,8,17.00,1,0,0,0,0,0.0,0,1093.67,1497.08,4,1,0,0,0,0,1,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0
6,1030017,0,0,1,0,1,1,1,80.63,430.23,1,2474,71,0,0,0,0,5,5.51,15,0,0,0,1,0.0,0,39.86,2395.75,3,0,1,0,0,1,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0
7,1075022,1,0,1,0,6,1,0,22.79,199.25,0,5278,25,0,0,0,0,0,21.32,1,0,0,0,0,0.0,0,1183.85,1137.99,3,1,0,0,0,0,1,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1
8,1063888,1,0,1,0,46,1,1,50.17,108.38,1,2563,18,0,0,1,0,0,36.22,24,1,0,0,1,0.0,0,1966.06,446.26,3,1,0,0,0,1,0,1,0,0,0,0,1,0,0,1,1,0,0,0,0,1,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1
9,1089174,0,0,0,0,1,1,1,85.77,507.01,0,5501,18,0,0,0,0,10,26.63,9,1,0,0,1,0.0,0,750.47,1228.79,1,1,0,0,0,1,0,1,0,0,0,0,1,1,0,0,0,0,1,1,0,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0

In [7]:
features = ['Gender', 'SeniorCitizen', 'Partner', 'Dependents',
                     'TenureMonths',
                     'PhoneService',
                     'PaperlessBilling',
                     'MonthlyCharges',
                     'TotalCharges',
                     'CLTV',
                     'Age',
                     'Under30',
                     'Married',
                     'NumberOfDependents',
                     'ReferredAFriend',
                     'NumberOfReferrals',
                     'AvgMonthlyLongDistanceCharges',
                     'AvgMonthlyGBDownload',
                     'DeviceProtectionPlan',
                     'PremiumTechSupport',
                     'StreamingMusic',
                     'UnlimitedData',
                     'TotalRefunds',
                     'TotalExtraDataCharges',
                     'TotalLongDistanceCharges',
                     'TotalRevenue',
                     'SatisfactionScore',
                     'MultipleLines_No',
                     'MultipleLines_Yes',
                     'InternetService_DSL',
                     'InternetService_FiberOptic',
                     'OnlineSecurity_No',
                     'OnlineSecurity_Yes',
                     'OnlineBackup_No',
                     'OnlineBackup_Yes',
                     'DeviceProtection_No',
                     'DeviceProtection_Yes',
                     'TechSupport_No',
                     'TechSupport_Yes',
                     'StreamingTV_No',
                     'StreamingTV_Yes',
                     'StreamingMovies_No',
                     'StreamingMovies_Yes',
                     'Contract_OneYear',
                     'Contract_TwoYear',
                     'PaymentMethod_AutoBankTransfer',
                     'PaymentMethod_AutoCreditCard',
                     'PaymentMethod_ECheck',
                     'InternetType_Cable',
                     'InternetType_DSL',
                     'InternetType_FiberOptic',
                     'Offer_OfferA',
                     'Offer_OfferB',
                     'Offer_OfferC',
                     'Offer_OfferD',
                     'Offer_OfferE']

 
target = "ChurnValue"

In [8]:
telco_X = Telco_df[features]
telco_y = Telco_df[target]

In [ ]:
#pipeline_obj = Pipeline([
#    ("mapping", DataFrameMapper([
#    (features, StandardScaler()) , 
#    (features,SimpleImputer(missing_values=np.nan, strategy='mean'))
#    ])),
#    ("rfc", RandomForestClassifier(n_estimators = 100))
#])

#pipeline_obj.fit(Telco_df[features],Telco_df[target])

In [ ]:
# Remove the temp directory code and specify your system's path if you want to save and read the model from your hard drive
#from nyoka import skl_to_pmml
#temp_dir = tempfile.TemporaryDirectory()
#skl_to_pmml(pipeline_obj,features,target,"telco_churn_byom.pmml")

In [27]:
from nyoka import xgboost_to_pmml, skl_to_pmml
from sklearn.linear_model import LogisticRegression


classifier = RandomForestClassifier(n_estimators=10, max_depth=10)
pipeline_model = Pipeline(steps=[('classifier', 
classifier)]).fit(telco_X, telco_y)


skl_to_pmml(pipeline=pipeline_model, col_names=features, target_name=target, pmml_f_name="model.pmml")

In [28]:
#model_bytes = open(f"{temp_dir.name}/telco_churn_byom.pmml", "rb").read()
#temp_dir.cleanup()
model_bytes = open("model.pmml", "rb").read()

In [29]:
cursor.execute("delete from pmml_models  where model_id = 'telco_churn_byom'")
cursor.execute("insert into pmml_models (model_id, model) values(?,?)", ("telco_churn_byom", model_bytes))

TeradataCursor uRowsHandle=49 bClosed=False

In [31]:
query="""
SELECT CustomerID, ChurnValue as y_test, CAST(CAST(score_result AS JSON).JSONExtractValue('$.predicted_ChurnValue') as INT) as y_pred FROM IVSM.IVSM_SCORE(
     ON (SELECT * FROM Telco_Churn_Test_v) AS DataTable
     ON (SELECT * FROM AOA_Demo.pmml_models WHERE model_id = 'telco_churn_byom') AS ModelTable DIMENSION
     USING
        ModelID('telco_churn_byom')
        ColumnsToPreserve('CustomerID', 'ChurnValue')
        ModelType('PMML')
     ) sc; 
"""
pd.read_sql(query, conn).head()

   CustomerID  y_test  y_pred
0     1035584       1       1
1     1069455       1       1
2     1024450       0       0
3     1049736       0       0
4     1075491       0       1

In [5]:
query="""
SELECT CustomerID, ChurnValue as y_test, CAST(CAST(json_report AS JSON).JSONExtractValue('$.predicted_ChurnValue') as INT) as y_pred FROM MLDB.PMMLPredict(
     ON (SELECT * FROM Telco_Churn_Test_v) AS DataTable
     ON (SELECT * FROM AOA_Demo.pmml_models WHERE model_id = 'telco_churn_byom') AS ModelTable DIMENSION
     USING
        Accumulate('CustomerID', 'ChurnValue')
     ) sc; 
"""
pd.read_sql(query, conn).head()

   CustomerID  y_test  y_pred
0     1035584       1       1
1     1069455       1       1
2     1024450       0       0
3     1049736       0       0
4     1075491       0       1